body {
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: #FFFFFF;
    font-family: 'Roboto', arial;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 20px 200px 20px 200px;
    color: #F9FAF8;
    background-color: #1F2937;
    flex-direction: column; 
}

.navbar {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.header-logo {
    margin-right: auto; 
    font-size: 24px;
    font-weight: bold;
}

.nav-items {
    display: flex;
    gap: 20px; 
}

.nav-items a {
    position: relative;
    font-size: 18px;
    text-decoration: none;
    color: #cacdd2;
    padding: 0 7px;
}

.nav-items a:after {
    content: "";
    position: absolute;
    background-color: #3882F6;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -5px;
    transition: 0.3s;

}

.nav-items a:hover {
    color: #FFFFFF;
}

.nav-items a:hover:after {
    width: 100%;
}

.hero-section {
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
    flex-direction: row;
}

.left-column {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 27px;
}

.left-column h1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin-bottom: 10px;
}

.left-column p {
    font-size: 18px;
    color: #cacdd2;
    margin-top: 0px;
}

.button {
    display: block;
    width: 130px;
    height: 40px;
    text-align: center;
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 8px;
}

.content {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 200px 50px 200px;
    background-color: #FFFFFF;
    color: #504f4f;
}

.content-title h1 {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
}

.content-images {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 50px;
    margin: 25px;
}

.content-images img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 4px solid #3882F6;
    border-radius: 15px;
}

.info-image {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 0.5em;
    max-width: 150px;
}

.quote-section {
    display: flex;
    align-items: center;
    padding: 130px 330px 130px 330px;
    color: #1F2937;
    background-color: #E5E7EB;
    flex-direction: column;
}

.quote {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    text-align: start;
}

.quote-footer {
    text-align: end;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
}

.sign-up {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 80px 208px 80px 208px;
    background-color: #FFFF;
}

.sign-up-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3882F6;
    padding: 48px;
    border-radius: 10px;
    width: 100%;
}

.sign-up-button {
    display: block;
    width: 130px;
    height: 40px;
    text-align: center;
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    font-size: 18px;
    border: 2px solid #FFFFFF !important;
    border-radius: 8px;
}

.sign-up-left {
    text-align: start;
    margin-left: 60px;
}

.sign-up-right {
    margin-right: 60px;
}

.sign-up-left h3 {
    font-size: 24px;
    color: #FFFFFF;
    margin: 0;
}

.sign-up-left p {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
}

.footer {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    color: #E5E7EB;
    background-color: #1F2937;
    padding-top: 32px;
    padding-bottom: 32px;
}

.footer-text {
    text-align: center;
    font-size: 18px;
    color: #cacdd2;
    font-weight: 100;
}
